<!DOCTYPE html>
<html lang="en" style="background-color: #06070e !important;">
  <head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="GoYaChain NFT Marketplace Litepaper">
    <title>GoYaChain LitePaper</title>

  </head>
  <body>
    <section id="nft" style="position: relative ;
      background-color: rgb(0, 0,
      0);">
      <app-nav></app-nav>

      <div class="container">
        <div class="row">
          <div class="col-12 text-center nft-sec">
            <h1 class="work-flow">EXPAND THE DIMENSIONS <br>OF YOUR
              COMMUNITY ENGAGEMENT</h1>
            <div class="text-center"><hr class="line"></div>
          </div>
          <div class="col-12 col-sm-12 col-md-6 text-md-left text-lg-left
            text-sm-center text-center nft-min-margin">
            <img src="../../assets/nft-min.png" alt="GoYaChain NFT"
              class="nft-min">
          </div>

          <div class="col-12 col-sm-12 col-md-6 text-right vision-margin">
            <h2 class="vision text-sm-left text-h1-center">VISION</h2>
            <div class=""><span class="h3-color">Our vision is to create a
                safe environment for influencers
                to share unique collectibles & experiences with their community.</span></div>
            <h2 class="vision text-h1-center">MISSION</h2>
            <div class=""><span class="h3-color">We are building the world’s
                first NFT marketplace for influencers to list their personal
                NFTs for their community to purchase, trade & receive access to
                exclusive utilities.
                .</span></div>
          </div>
        </div>
      </div>
    </section>



    <section id="nft" style="position: relative ;
      background-color: rgb(0, 0,
      0);">


      <div class="container">
        <div class="row">

          <div class="col-12 text-center nft-sec">

          </div>
          <div class="col-12 order-1 col-sm-12 col-md-6 vision-margin">
            <h2 class="vision text-h1-center">OUR SERVICE</h2>
            <div class=""><span class="h3-color"> We will design an NFT
                according to your needs and wants.<br>
                We will cover the costs for a limited amount of NFTs according
                to your reach. <br>
                We will launch the NFT(s) on our own marketplace for selling,
                trading & unlocking the unlimited possibilities of utilities
                attached to the respective NFTs.</span></div>
            <h2 class="vision text-h1-center">YOUR INPUT</h2>
            <div class=""><span class="h3-color">
                Provide us with ideas/input for the design of your own NFT or,
                if given, provide pieces of art you own that should be tokenized
                (to put it on the blockchain).<br> <br>
                Think about the utility you want to deliver to the future
                holders of your collection: the sky’s the limit (examples:
                exclusive access to events, merchandise drops, exclusive
                follower experiences, etc.).


              </span></div>
          </div>
          <div class="col-12 order-2 col-sm-12 col-md-6 text-md-left
            text-lg-left
            text-sm-center text-center nft-min-margin-m">
            <img src="../../assets/p-min.png" alt="GoYaChain NFT"
              class="nft-min">
          </div>


        </div>
      </div>
    </section>
    <section id="intro" style="position: relative ;
      background-color: rgb(0, 0,
      0);">


      <div class="container">
        <div class="row">

          <div class="col-12 text-center nft-sec">
            <h1 class="work-flow">ACTIVE REVENUE STREAM</h1>
            <div class="text-center"><hr class="line"></div>

          </div>
          <div class="col-12 col-sm-12 col-md-6 text-md-left text-lg-left
            text-sm-center text-center nft-min-margin">
            <img src="../../assets/b-min.png" alt="GoYaChain NFT"
              class="nft-min">
          </div>
          <div class="col-12 col-sm-12 col-md-6 text-md-left text-lg-left
            text-sm-center text-center nft-min-margin">
            <img src="../../assets/c.png" alt="GoYaChain NFT"
              class="nft-min">
          </div>


        </div>
      </div>
    </section>
    <section id="intro" style="position: relative ;
      background-color: rgb(0, 0,
      0);">


      <div class="container">
        <div class="row">

          <div class="col-12 text-center nft-sec">
            <h1 class="work-flow">PASSIVE REVENUE STREAM</h1>
            <div class="text-center"><hr class="line"></div>
          </div>
          <div class="col-12 col-sm-12 col-md-6 text-md-left text-lg-left
            text-sm-center text-center nft-min-margin">
            <img src="../../assets/rrrr.png" alt="GoYaChain NFT"
              class="nft-min">
          </div>
          <div class="col-12 col-sm-12 col-md-6 text-md-left text-lg-left
            text-sm-center text-center nft-min-margin">
            <img src="../../assets/d-min.png" alt="GoYaChain NFT"
              class="nft-min">
          </div>


        </div>
      </div>
    </section>
  </body>
</html>
