<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>GoYaChain Home</title>
</head>

<body>
  <section id="intro" style="position: relative ;
      background-color: rgb(0, 0,
      0);">
    <app-nav></app-nav>

    <div class="container-fluid">
      <div class="row">
        <div class="col-12 col-sm-12 col-md-6 text-md-left text-lg-left
            text-sm-center text-center">
          <img class="inf-image" src="../assets/Rounded Rectangle 2 copy.png" alt="GoYaChain
              Marketpalce">
        </div>
        <div class="col-12 col-sm-12 col-md-6 text-md-left text-lg-left
            text-sm-center text-center nft-div-text">
          <h1 class="h1-text">EXPAND THE <span class="span-nft">DIMENSIONS</span>
          </h1>
          <h3 class="sm-h3">The
            world’s first NFT marketplace exclusively built for influencers &
            their communities.
          </h3>
          <div class="btn-div">
            <button type="button" (click)="litepaper()" class="btn btn-primary
                btn-lite">WHITEPAPER</button>
            <button type="button" (click)="join()" class="btn btn-primary
                btn-call-us">JOIN US NOW
            </button>
          </div>

        </div>


      </div>
    </div>
  </section>

  <section id="rd" class="text-center py-5" style="position:relative">
    <h1 class="work-flow">WORKFLOW</h1>
    <div class="text-center">
      <hr class="line">
    </div>
  </section>
  <app-page-test></app-page-test>



  <section id="rd" class="text-center py-5" style="position:relative">
    <h1 class="work-flow">CAUSES WE SUPPORT</h1>
    <div class="text-center">
      <hr class="line">
    </div>
  </section>
  <section id="Banner" style="position: relative ;
      background-color: #000508; height:100%">
    <div class="container">
      <div class="row">
        <div class="col-12 col-sm-12 col-md-12 text-md-left text-lg-left
            text-sm-center text-center">
          <a href="https://internationalmedicalcorps.org/"> <img class="cases" src="../assets/m.png"></a>
          <a href="https://thewaterproject.org/"> <img class="cases" src="../assets/logo-2.png"> </a>
          <a href="https://justiceandcare.org/"><img class="cases" src="../assets/logo-3.png"></a>
          <a href="https://www.rewild.org/about-us"> <img class="cases" src="../assets/logo-4.png"></a>
        </div>
        <div class="col-12 col-sm-12 col-md-12 text-md-left text-lg-left
            text-sm-center text-center">
          <h2 class="text-cetner text-d">In a digital world, one shall not
            forget the
            real world and thus
            the global state of affairs. Therefore, we donate 2% of the sales
            to the following charities, hence not only to give a helping hand
            but to spread the word and create awareness in this digital
            sphere.
          </h2>
        </div>

      </div>
    </div>
  </section>
  <section id="rd" class="text-center py-5" style="position:relative">
    <h1 class="work-flow">TOKENOMICS</h1>
    <div class="text-center">
      <hr class="line">
    </div>
    <div class="col-12">
      <app-chart></app-chart>
    </div>
  </section>


  <section id="rd" class="text-center py-5" style="position:relative">
    <h1 class="work-flow">ROADMAP</h1>
    <div class="text-center">
      <hr class="line">
    </div>
    <section id="rd" class="text-center py-5" style="position:relative">
      <app-timeline></app-timeline>
    </section>

  </section>

  <section id="rd" class="text-center py-5" style="position:relative">
    <h1 class="work-flow"> CORE TEAM</h1>
    <div class="text-center">
      <hr class="line">
    </div>
  </section>
  <section id="Banner" style="position: relative ;
      background-color: #000508; height:100%" class="pt-4">
    <div class="container">
      <div class="row">
        <div class="col-md-4 col-12 text-center">
          <img class="w-100" src="../assets/abdul.png">
          <h3>Abdulwahab Herbli</h3>
          <h6>Founder / Tech Lead</h6>
        </div>
        <div class="col-md-4 col-12 text-center">
          <img class="w-100" src="../assets/laura.png">
          <h3>Laura Barnowski</h3>
          <h6>Business Development</h6>
        </div>
        <div class="col-md-4 col-12 text-center">
          <img class="w-100" src="../assets/ali.png">
          <h3>Ali H.</h3>
          <h6>Commercial Officer</h6>
        </div>
        <div class="col-md-4 col-12 text-center">
          <img class="w-100" src="../assets/aysha.png">
          <h3>Aisyah Nasruddin</h3>
          <h6>Financial Officer</h6>
        </div>
        <div class="col-md-4 col-12 text-center">
          <img class="w-100" src="../assets/jann.png">
          <h3>Jannik Bruns</h3>
          <h6>Business Development</h6>
        </div>
        <div class="col-md-4 col-12 text-center">
          <img class="w-100" src="../assets/kenny.png">
          <h3>Kenny Tan</h3>
          <h6>Marketing Strategy</h6>
        </div>
        <section id="rd" class="text-center py-5" style="position:relative">
          <h1 class="work-flow">Follow Us</h1>
          <div class="text-center">
            <hr class="line">
          </div>
          <div class="row">
            <div class="col-12 text-center">
              <a href="https://discord.gg/NXB4rwKyZf"> <img class="follow-us" src="../assets/Layer3.png"></a>
              <a href="https://twitter.com/GoyaChain"> <img class="follow-us" src="../assets/Layer4.png"></a>
              <a href="https://www.instagram.com/goyachain/"> <img class="follow-us" src="../assets/instagram.png"></a>
              <a href="https://www.facebook.com/Goyachain.Marketplace"> <img class="follow-us-face"
                  src="../assets/Layer5.png"></a>
              <a href="https://t.me/Goya_marketplace"> <img class="follow-us" src="../assets/Layer6.png"></a>
            </div>

            <div class="pt-2">
              <h6>Copyright © 2022 - 2023 GoYaChain </h6>
            </div>
          </div>
        </section>
        <section id="Banner" style="position: relative ;
            background-color: #000508; height:100%" class="pt-4">
          <div class="container">

          </div>
        </section>
      </div>
    </div>
  </section>
</body>

</html>