<div class="dropdown">
  <button   class="" type="button" id="dropdownMenuButton1" data-bs-toggle="dropdown"
    aria-expanded="false">
    <i class="fa fa-bars"></i>
  </button>
  <ul class="dropdown-menu" aria-labelledby="dropdownMenuButton1">
    <li><a routerLink="" class="dropdown-item" href="#">Marketplace</a></li>
    <li><a routerLink="" class="dropdown-item" href="#">Activity</a></li>
    <li><a routerLink="" class="dropdown-item" href="#">Resources</a></li>

    <li> <a routerLink="" class="dropdown-item" href="#"> Register</a> </li>
    <li> <a routerLink="" class="dropdown-item" href="#">Login</a> </li>
  </ul>
</div>