

<section class="sec" #timeline>

  <div id="cd-timeline" class="cd-container">
    <div class="timeline_progress">
      <div class="timeline_progress-bar"></div>
    </div>

    <div
      class="cd-timeline-block"
      [ngClass]="{ 'opc-25': !block1, 'opc-100': block1 }">
      <div class="cd-timeline-img cd-location"></div>

      <div class="cd-timeline-content">
        <h2></h2>
        <p>
          Verification through us that you are a real person with real followers
          to start the process
        </p>
        <span class="cd-date">25%</span>
      </div>
      <!-- cd-timeline-content -->
    </div>
    <!-- cd-timeline-block -->

    <div
      class="cd-timeline-block"
      [ngClass]="{ 'opc-25': !block2, 'opc-100': block2 }">
      <div class="cd-timeline-img cd-movie"></div>
      <!-- cd-timeline-img -->

      <div class="cd-timeline-content">
        <h2></h2>
        <p>
          Clarify with us how your NFT collection should be designed and what
          kind of exclusive content you want to offer to the holders.

        </p>
        <span class="cd-date">50%</span>
      </div>
      <!-- cd-timeline-content -->
    </div>
    <!-- cd-timeline-block -->

    <div
      class="cd-timeline-block"
      [ngClass]="{ 'opc-25': !block3, 'opc-100': block3 }">
      <div class="cd-timeline-img cd-picture"></div>
      <!-- cd-timeline-img -->

      <div class="cd-timeline-content">
        <h2></h2>
        <p>
          Launch the collection together with us and market it to your
          community.
        </p>
        <span class="cd-date">75%</span>
      </div>
      <!-- cd-timeline-content -->
    </div>
    <!-- cd-timeline-block -->

    <div
      class="cd-timeline-block"
      [ngClass]="{ 'opc-25': !block4, 'opc-100': block4 }">
      <div class="cd-timeline-img cd-location"></div>
      <!-- cd-timeline-img -->

      <div class="cd-timeline-content">
        <h2></h2>
        <p>
          Let your collection flourish among other celebrities and enjoy the new
          dimension of engagement possible.

        </p>
        <span class="cd-date">100%</span>
      </div>
      <!-- cd-timeline-content -->
    </div>
    <!-- cd-timeline-block -->
  </div>
  <!-- cd-timeline -->
</section>
