<footer>

  <section id="Banner" style="position: relative ;
  background-color: #000508; height:100%" class="pt-4 col-12">
      <section id="rd" class="text-center py-5 container" style="position:relative">
        <h1 class="work-flow">Follow Us</h1>
        <div class="text-center">
          <hr class="line">
        </div>
        <div class="col-12">
          <div class="row">
            <div class="col-12 text-center">
              <a href="https://discord.gg/NXB4rwKyZf"> <img class="follow-us" src="../assets/Layer3.png"></a>
              <a href="https://twitter.com/GoyaChain"> <img class="follow-us" src="../assets/Layer4.png"></a>
              <a href="https://www.instagram.com/goyachain/"> <img class="follow-us" src="../assets/instagram.png"></a>
              <a href="https://www.facebook.com/Goyachain.Marketplace"> <img class="follow-us-face"
                  src="../assets/Layer5.png"></a>
              <a href="https://t.me/Goya_marketplace"> <img class="follow-us" src="../assets/Layer6.png"></a>
            </div>
  
            <div class="pt-2">
              <h6>Copyright © 2022 - 2023 GoYaChain </h6>
            </div>
          </div>
        </div>
       
      </section>
    
</section>

</footer>